.tt-footer {
    &-line1 {
        img {
            width: 30px;
        }

        h6 {
            display: inline-block;
            margin-left: .5rem;
        }

        a:not(:last-child) {
            margin-right: 1.5rem;
        }

        button {
            float: right;
        }

        @media (max-width: 991px){
            img {
                width: 25px;
            }

            h6 {
                font-size: 14px;
            }
        }
    }

    &-line2 {

    }
}
