/*
	Header
*/
#tt-header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color:#ffffff;
	border-bottom: 1px solid #e2e7ea;
	z-index: 17;
	.tt-row > .col-auto{
		min-height: 69px;
	    align-items: center;
	    display: flex;
	}
	> [class^="container"]{
		@media (min-width: 1025px){
			padding-left: 45px;
			padding-right: 45px;
		}
		@media (max-width: 1024px){
			padding-left: 25px;
			padding-right: 25px;
		}
		@media (max-width: 575px){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	// additional styles for objects
	.tt-logo{
		& + *{
			margin-left: 45px;
		}
		@media (max-width: 1229px){
			& + *{
				margin-left: 26px;
			}
		}
		@media (max-width: 1024px){
			& + *{
				margin-left: 10px;
			}
		}
		img{
			max-width:36px;
			height: auto;
		}
	}
	.tt-desktop-menu{
		& + *{
			margin-left: 36px;
		}
		@media (max-width: 1229px){
			& + *{
				margin-left: 25px;
			}
			nav > ul > li > a{
				padding-left: 7px;
				padding-right: 7px;
			}
		}
		@media (max-width: 767px){
			& + *{
				margin-left: 20px;
			}
		}
	}
	.tt-search{
		@media (max-width: 1229px){
			width: 250px;
		}
		@media (max-width: 767px){
			width: 400px;
		}
		@media (max-width: 440px){
			width: 300px;
		}
	}
    .container > .row{
        flex-wrap: nowrap;
        @media (max-width: 767px){
            flex-wrap: wrap;
        }
    }
	.tt-account-btn{
        margin-left: 20px;
		@media (max-width: 767px){

		}
		@media (max-width: 440px){
			[class^="btn"]{
				padding-left: 7px;
				padding-right: 7px;
			}
		}
	}
}
