/*-------  3.20 Pagination component  --------*/
.pagination {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0;

    .page-item {
        margin: 0 2px;
        font-weight: bold;

        .page-link {
            position: relative;
            display: block;
            min-width: 32px;
            color: #111;
            padding: 0 .5rem;
            margin: 0;
            line-height: inherit;
            background-color: inherit;
            border: none;

            &:hover {
                background-color: inherit;
                color: $default_color;
            }
        }

        &.disabled {
            .page-link {
                font-weight: lighter;
                background-color: inherit;
                opacity: .8;
            }
        }
    }
}
